# General Ansible settings
[defaults]
inventory = inventory/hosts.ini
remote_user = vagrant
host_key_checking = False # Ansible will not verify the SSH identity of a remote server before
deprecation_warnings = False
roles_path = /vagrant/ansible/roles

[privilege_escalation]
become = True
become_method = sudo
become_user = root