apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkis-pv
  namespace: {{ jenkins_namespace }}
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: {{ nfs_server }}
    path: {{ nfs_path }}